---
import { Image } from "astro:assets";
import me from "../images/me.jpeg";
import "@fontsource-variable/alegreya"; // TODO: not actually working
import { icons } from "feather-icons";

const name = "Nick Breaton";
const moto = "web dev doing web things";

const socials = [
  {
    site: "GitHub",
    href: "https://github.com/nickbreaton",
    username: "nickbreaton",
  },
  {
    site: "Bluesky",
    href: "https://bsky.app/profile/nickbreaton.com",
    username: "@nickbreaton.com",
    copy: true,
  },
  {
    site: "Mastodon",
    href: "https://mastodon.social/@nickbreaton",
    username: "@nickbreaton@mastodon.social",
    rel: "me",
    copy: true,
  },
  {
    site: "X",
    href: "https://x.com/nickbreaton",
    username: "@nickbreaton",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{name}</title>
  </head>
  <body class="bg-primary-50 text-primary-900 font-serif touch-manipulation">
    <div
      class="mx-auto px-3 py-5 sm:py-10 max-w-[100vw] md:max-w-screen-md flex flex-col sm:flex-row gap-8"
    >
      <header class="flex sm:flex-col items-start gap-4">
        <div
          class="rounded-lg overflow-hidden inline-flex bg-primary-100 bg-opacity-50"
        >
          <Image
            src={me}
            width={300}
            densities={[1, 1.5, 2]}
            alt="Nick facing the camera"
            format="avif"
            class="w-32 sm:w-60 flex-grow opacity-95 transition-opacity timing ease-in delay-200"
          />
        </div>
        <div class="flex flex-col gap-1">
          <h1 class="text-3xl sm:text-4xl font-semibold text-nowrap">
            {name}
          </h1>
          <p
            class="text-md sm:text-lg text-primary-900 text-opacity-80 text-nowrap"
          >
            {moto}
          </p>
        </div>
      </header>

      <div class="flex-1">
        <section class="flex flex-col gap-3 text-primary-900">
          <h2 class="text-xl sm:text-2xl font-medium">follow me</h2>
          <ul class="text-primary-900 flex flex-col gap-2">
            {
              socials.map(({ site, href, rel, username, copy }) => (
                <li class="rounded-lg border border-primary-950 border-opacity-10 px-5 py-3 bg-white flex gap-3">
                  <a href={href} class="flex-1" target="_blank" rel={rel}>
                    <p class="text-primary-800 text-opacity-70 text-sm flex items-center gap-2">
                      {site}
                      <span
                        aria-hidden
                        set:html={icons["link"].toSvg({
                          width: "1em",
                          stroke: "currentColor",
                        })}
                      />
                    </p>
                    <p class="font-medium text-primary-900 text-opacity-90">
                      {username}
                    </p>
                  </a>
                  {copy && (
                    <span class="flex items-center">
                      <!-- TODO: make it actually copy -->
                      <button
                        class="aspect-square w-10 grid place-items-center -mr-2 text-primary-900 text-opacity-90 text-xl"
                        aria-label="copy username"
                        data-copy={username}
                        set:html={icons["copy"].toSvg({
                          width: "1em",
                          stroke: "currentColor",
                        })}
                      />
                    </span>
                  )}
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
